data
data/*
.snakemake
.snakemake/*
sratoolkit.2.8.2-1-mac64
sratoolkit.2.8.2-1-mac64/*
TrimGalore-0.4.3
TrimGalore-0.4.3/*
trim_galore.tar.gz
fastq
fastq/*
fastqc
fastqc/*
logs
logs/*
.DS_Store
*.bt2
SRR1635435_1_fastqc.zip_trimmed.fq
*.fa
*.sizes
*.gz
SRR1635435_1.fastq.gz_trimming_report.txt
trim_galore/SRR1635436_1.fastq.gz_trimming_report.txt
SRR1635435_1_fastqc.zip_trimming_report.txt
trim_galore/SRR1635459_1.fastq.gz_trimming_report.txt
trim_galore/SRR1635460_1.fastq.gz_trimming_report.txt
